.popup :global(.leaflet-popup-content-wrapper) {
  background: oklch(var(--b2));
  color: oklch(var(--bc));
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.popup :global(.leaflet-popup-tip) {
  background: oklch(var(--b2));
}

.popup :global(.leaflet-popup-content) {
  margin: 8px 12px;
}
